Perturb_seq_F1.png filter=lfs diff=lfs merge=lfs -text
Two_stage_FiLM_Diffusion_UMAP_Original_Generated_Combined.html filter=lfs diff=lfs merge=lfs -text
per_class_f1_comparison.png filter=lfs diff=lfs merge=lfs -text
per_class_f1_comparison.svg filter=lfs diff=lfs merge=lfs -text
z_val.npy filter=lfs diff=lfs merge=lfs -text
0_original_data_inspection.ipynb filter=lfs diff=lfs merge=lfs -text
2_model.ipynb filter=lfs diff=lfs merge=lfs -text
KL_Divergence_Over_Time.png filter=lfs diff=lfs merge=lfs -text
Perturb_seq_F1.svg filter=lfs diff=lfs merge=lfs -text
posterior_test_softmax.npy filter=lfs diff=lfs merge=lfs -text
umap_test.png filter=lfs diff=lfs merge=lfs -text
latent.h5ad filter=lfs diff=lfs merge=lfs -text
model_logistic_regression filter=lfs diff=lfs merge=lfs -text
y_val.npy filter=lfs diff=lfs merge=lfs -text
Two_stage_FiLM_Diffusion_loss_curve_Sigmoid.png filter=lfs diff=lfs merge=lfs -text
env_dl.yml filter=lfs diff=lfs merge=lfs -text
model_keeping_score filter=lfs diff=lfs merge=lfs -text
z_train.npy filter=lfs diff=lfs merge=lfs -text
Forward_Diffusion_UMAP.png filter=lfs diff=lfs merge=lfs -text
Forward_Diffusion_UMAP.svg filter=lfs diff=lfs merge=lfs -text
Model_Path4_comparison.ipynb filter=lfs diff=lfs merge=lfs -text
umap_test.svg filter=lfs diff=lfs merge=lfs -text
KL_Divergence_Over_Time.svg filter=lfs diff=lfs merge=lfs -text
Two_stage_FiLM_Diffusion_checkpoint_Sigmoid_orig.pth filter=lfs diff=lfs merge=lfs -text
model.py filter=lfs diff=lfs merge=lfs -text
model_XGB filter=lfs diff=lfs merge=lfs -text
y_train.npy filter=lfs diff=lfs merge=lfs -text
1_train_val_test_split.ipynb filter=lfs diff=lfs merge=lfs -text
3_Classification.ipynb filter=lfs diff=lfs merge=lfs -text
__pycache__ filter=lfs diff=lfs merge=lfs -text
model_MLP filter=lfs diff=lfs merge=lfs -text
perturbation_names.npy filter=lfs diff=lfs merge=lfs -text
y_test.npy filter=lfs diff=lfs merge=lfs -text
z_test.npy filter=lfs diff=lfs merge=lfs -text
